## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [16]:
i = 1
j = 1
for i in range(1,11):
    print("\n")
    for j in range(1,11):
        print(f"{i} * {j} = ", i*j)

1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
1 * 6 =  6
1 * 7 =  7
1 * 8 =  8
1 * 9 =  9
1 * 10 =  10


2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20


3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30


4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40


5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50


6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54
6 * 10 =  60


7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63
7 * 10 =  70


8 * 1 =  8
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64
8 * 9 =  72
8 * 10 =  80


9 * 1 =  9
9 * 2 =  18
9 * 3 =  27
9 * 4 =  36
9 * 5 =  45
9 * 6 =  54
9 * 7 =  63
9 * 8 =  72
9 * 9 =  81
9 * 10 =  90


10 * 1 =  10
10 * 2 =  20
10 * 3 =  30
10 * 4 =  40
10 * 5 =  50
10 * 6 =  60
10 * 7 =  70
10 * 8 =  80
10 * 9 =  90
10 * 10 =  100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [22]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l3 = []

length = len(l1) + len(l2)

for i in range(length):
    if i % 2 != 0:
        l3.append(l1[i // 2])
    elif i % 2 == 0:
        l3.append(l2[i // 2])
        
l3.sort()
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [23]:
def print_pattern():

  rows = 8
  for i in range(rows):
    for j in range(i):
      print(" ", end="")
    for k in range(rows - i):
      print("*", end="")
    print()

print_pattern()

********
 *******
  ******
   *****
    ****
     ***
      **
       *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [24]:
def exponent(base, exp):
  result = 1
  for i in range(exp):
    result *= base
  return result


base = 5
exp = 4
result = exponent(base, exp)
print(f"{base} raised to the power of {exp} is: {result}")

5 raised to the power of 4 is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [1]:
with open('test.txt', 'r') as infile:
    lines = infile.readlines()

lines.pop(4)

with open('new_test.txt', 'w') as outfile:
    outfile.writelines(lines)

print("Content written to new_test.txt (skipping line 5).")

Content written to new_test.txt (skipping line 5).

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [5]:
input_line = input("Enter three names separated by spaces: ")
names = input_line.split()
for name in names:
    print(name)

IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [7]:
def show_employee(name, salary = 9000):
    print(f"Name: {name} salary: {salary}")
show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [8]:
def find_words_with_letters_and_digits(input_str):
    words = input_str.split()
    valid_words = []

    for word in words:
        if any(c.isalpha() for c in word) and any(c.isdigit() for c in word):
            valid_words.append(word)
    return valid_words

str1 = "Harry25 is Gryffindor Wizard50 and cursed"
valid_words_list = find_words_with_letters_and_digits(str1)

for valid_word in valid_words_list:
    print(valid_word)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [9]:
def replace_special_characters(input_str):
    special_chars = set("!@#$%^&*()_+{}[]|\\:;<>,.?/~`")
    result = ""
    for char in input_str:
        if char in special_chars:
            result += "#"
        else:
            result += char
    return result

str1 = '/*Modi is @Politician & Melony!!'
modified_str = replace_special_characters(str1)
print(modified_str)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [13]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result_set = {(a, b) for a, b in zip(first_list, second_list)}

print(f"Result is {result_set}")

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [14]:
A = {2, 4, 6, 8, 10}
B = {4, 6, 8, 12, 14}

result_diff_A_B = A - B
print("A - B =", result_diff_A_B)

result_diff_B_A = B - A
print("B - A =", result_diff_B_A)

result_intersection = A & B
print("A ∩ B =", result_intersection)

result_union = A | B
print("A ∪ B =", result_union)

A - B = {2, 10}
B - A = {12, 14}
A ∩ B = {8, 4, 6}
A ∪ B = {2, 4, 6, 8, 10, 12, 14}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [15]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

car = Vehicle(max_speed=200, mileage=25)
print(f"Car max speed: {car.max_speed} km/h")
print(f"Car mileage: {car.mileage} km/l")

Car max speed: 200 km/h
Car mileage: 25 km/l

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [16]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    def __init__(self, max_speed, mileage, seating_capacity):
        super().__init__(max_speed, mileage)
        self.seating_capacity = seating_capacity

my_bus = Bus(max_speed=80, mileage=6, seating_capacity=50)

print(f"Bus max speed: {my_bus.max_speed} km/h")
print(f"Bus mileage: {my_bus.mileage} km/l")
print(f"Seating capacity: {my_bus.seating_capacity} passengers")

Bus max speed: 80 km/h
Bus mileage: 6 km/l
Seating capacity: 50 passengers

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [17]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage):
        super().__init__(name, max_speed, mileage)

    def seating_capacity(self, capacity=50):
        return super().seating_capacity(capacity)

my_bus = Bus(name="bus", max_speed=80, mileage=6)

print(my_bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [18]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
        base_fare = super().fare()
        final_fare = base_fare + 0.1 * base_fare

        return final_fare

School_bus = Bus(name="School Volvo", mileage=12, capacity=50)
print(f"Total Bus fare is: {School_bus.fare():.1f}")

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [20]:
import json

data = {"key1": "value1", "key2": "value2"}
json_data = json.dumps(data)

print("JSON representation:")
print(json_data)

JSON representation:
{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [21]:
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}

sorted_json = json.dumps(sampleJson, indent=4, sort_keys=True)

with open("sorted_data.json", "w") as outfile:
    outfile.write(sorted_json)

print("Sorted JSON data has been written to 'sorted_data.json'.")

Sorted JSON data has been written to 'sorted_data.json'.